<div class="main-body">
    <h2 class="page-title">About Us</h2>
<h1><b><u>Project Completed by</u></b></h1>
<p><i>Name :</i> Omkar Vasudev Patil</p>
<p><b><u>Roll No :</u></b>2355</p>
<p><u>Class :</u>TYIF</p>
</div>
