<div class="main-body">
    <h2 class="page-title">About Us</h2>
    <p class="about-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, voluptates, laboriosam qui tenetur libero vel quaerat sequi quidem officiis molestias eos similique nihil consectetur atque accusantium! At dignissimos voluptatum sint.</p>
</div>