<div class="main-body">
    <div id="issued-books-section">
        <h4>{{this.issuedbooks}}</h4>
        <p>Issued Books</p>
    </div>
    <div id="users-section">
        <h4>{{this.users}}</h4>
        <p>Users</p>
    </div>
    <div id="available-books">
        <h4>{{this.books}}</h4>
        <p>Books Available</p>
    </div>
</div>