<div class="main-body">
    <h2 class="page-title">About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae dolore vero possimus voluptate nemo rerum temporibus, laboriosam debitis tempore molestias natus! Assumenda nulla cum quo, error aliquid necessitatibus impedit temporibus.</p>
</div>