<div class="main-body">
    <form >
        <div class="form-group">
            <input type="text" name="name" id="name" class="form-control">
        </div>
        <div class="form-group">
            <input type="email" name="email" id="email" class="form-control">
        </div>
        <div class="form-group">
            <input type="tel" name="phone" id="phone" class="form-control">
        </div>
        <div class="form-group">
            <input type="file" name="resume" id="resume" class="form-control">
        </div>
        <div class="form-group">
            <button class="btn-primary">Apply</button>
        </div>
    </form>
</div>