<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li class="navbar-component">
                <a href="/">Home</a>
            </li>
            <li class="navbar-component">
                <a href="/admin/shows">Shows</a>
            </li>
            <li class="navbar-component">
                <a href="/admin/timings">Timings</a>
            </li>
            <li class="navbar-component">
                <a href="/admin/genre">Genre</a>
            </li>
            <li class="navbar-component">
                <a href="/admin/movies">Movies</a>
            </li>
        </ul>
    </nav>
    {{{body}}}
</body>
</html>