<div class="main-body">
    <h4>About Us</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique dolor temporibus placeat neque consectetur aperiam. Voluptatibus eveniet accusamus doloribus pariatur, nisi tempore architecto omnis ullam, consectetur incidunt beatae eos ipsa.</p>
</div>