<div class="main-body">
    <div class="table-section">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Movie</th>
                    <th>Timing</th>
                    <th>Persons</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each bookings}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.moviename}}</td>
                        <td>{{this.timing}}</td>
                        <td>{{this.persons}}</td>
                        <td><button class="btn-danger">Delete</button></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>