<div class="main-body">
    {{#each movies}}
        <div class="movie-section">
            <img src="{{this.image}}" alt="">
            <h4>{{this.moviename}}</h4>
            <button class="btn-booking">Book</button>
        </div>
    {{/each}}
</div>